<a href="https://colab.research.google.com/github/julianovale/PO450/blob/main/0002_COVID.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Possivel trabalho "COVID"

Primeira coisa a ser feita é subir o *.csv obtido em https://dados.gov.br/dataset/bd-srag-2020

Dicionário de dados em: https://github.com/julianovale/TrabalhoPO460/blob/main/dicionario-de-dados-srag-hospitalizado-27.07.2020-final.pdf

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('INFLUD-08-02-2021.csv', sep = ';')
df.head()

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (15,18,60,62,63,64,92,94,108,115,117,118,119,123) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

   DT_NOTIFIC  SEM_NOT  DT_SIN_PRI  SEM_PRI  ... DT_RES RES_IGG  RES_IGM RES_IGA
0  07/01/2020        2  03/01/2020        1  ...    NaN     NaN      NaN     NaN
1  27/01/2020        5  26/01/2020        5  ...    NaN     NaN      NaN     NaN
2  16/01/2020        3  10/01/2020        2  ...    NaN     NaN      NaN     NaN
3  13/02/2020        7  08/02/2020        6  ...    NaN     NaN      NaN     NaN
4  09/03/2020       11  05/03/2020       10  ...    NaN     NaN      NaN     NaN

[5 rows x 154 columns]

In [ ]:
df.shape

(1174400, 154)

In [ ]:
df.columns.ravel()

array(['DT_NOTIFIC', 'SEM_NOT', 'DT_SIN_PRI', 'SEM_PRI', 'SG_UF_NOT',
       'ID_REGIONA', 'CO_REGIONA', 'ID_MUNICIP', 'CO_MUN_NOT',
       'ID_UNIDADE', 'CO_UNI_NOT', 'CS_SEXO', 'DT_NASC', 'NU_IDADE_N',
       'TP_IDADE', 'COD_IDADE', 'CS_GESTANT', 'CS_RACA', 'CS_ETINIA',
       'CS_ESCOL_N', 'ID_PAIS', 'CO_PAIS', 'SG_UF', 'ID_RG_RESI',
       'CO_RG_RESI', 'ID_MN_RESI', 'CO_MUN_RES', 'CS_ZONA', 'SURTO_SG',
       'NOSOCOMIAL', 'AVE_SUINO', 'FEBRE', 'TOSSE', 'GARGANTA',
       'DISPNEIA', 'DESC_RESP', 'SATURACAO', 'DIARREIA', 'VOMITO',
       'OUTRO_SIN', 'OUTRO_DES', 'PUERPERA', 'FATOR_RISC', 'CARDIOPATI',
       'HEMATOLOGI', 'SIND_DOWN', 'HEPATICA', 'ASMA', 'DIABETES',
       'NEUROLOGIC', 'PNEUMOPATI', 'IMUNODEPRE', 'RENAL', 'OBESIDADE',
       'OBES_IMC', 'OUT_MORBI', 'MORB_DESC', 'VACINA', 'DT_UT_DOSE',
       'MAE_VAC', 'DT_VAC_MAE', 'M_AMAMENTA', 'DT_DOSEUNI', 'DT_1_DOSE',
       'DT_2_DOSE', 'ANTIVIRAL', 'TP_ANTIVIR', 'OUT_ANTIV', 'DT_ANTIVIR',
       'HOSPITAL', 'DT_INTERNA', 'SG_UF_INTE', 'ID_RG_INTE', 'CO_RG_INTE',
       'ID_MN_INTE', 'CO_MU_INTE', 'UTI', 'DT_ENTUTI', 'DT_SAIDUTI',
       'SUPORT_VEN', 'RAIOX_RES', 'RAIOX_OUT', 'DT_RAIOX', 'AMOSTRA',
       'DT_COLETA', 'TP_AMOSTRA', 'OUT_AMOST', 'PCR_RESUL', 'DT_PCR',
       'POS_PCRFLU', 'TP_FLU_PCR', 'PCR_FLUASU', 'FLUASU_OUT',
       'PCR_FLUBLI', 'FLUBLI_OUT', 'POS_PCROUT', 'PCR_VSR', 'PCR_PARA1',
       'PCR_PARA2', 'PCR_PARA3', 'PCR_PARA4', 'PCR_ADENO', 'PCR_METAP',
       'PCR_BOCA', 'PCR_RINO', 'PCR_OUTRO', 'DS_PCR_OUT', 'CLASSI_FIN',
       'CLASSI_OUT', 'CRITERIO', 'EVOLUCAO', 'DT_EVOLUCA', 'DT_ENCERRA',
       'DT_DIGITA', 'HISTO_VGM', 'PAIS_VGM', 'CO_PS_VGM', 'LO_PS_VGM',
       'DT_VGM', 'DT_RT_VGM', 'PCR_SARS2', 'PAC_COCBO', 'PAC_DSCBO',
       'OUT_ANIM', 'DOR_ABD', 'FADIGA', 'PERD_OLFT', 'PERD_PALA',
       'TOMO_RES', 'TOMO_OUT', 'DT_TOMO', 'TP_TES_AN', 'DT_RES_AN',
       'RES_AN', 'POS_AN_FLU', 'TP_FLU_AN', 'POS_AN_OUT', 'AN_SARS2',
       'AN_VSR', 'AN_PARA1', 'AN_PARA2', 'AN_PARA3', 'AN_ADENO',
       'AN_OUTRO', 'DS_AN_OUT', 'TP_AM_SOR', 'SOR_OUT', 'DT_CO_SOR',
       'TP_SOR', 'OUT_SOR', 'DT_RES', 'RES_IGG', 'RES_IGM', 'RES_IGA'],
      dtype=object)

In [ ]:
df2 = df.filter(['DT_NOTIFIC','ID_MUNICIP','CO_MUN_NOT','CS_SEXO', 'NU_IDADE_N','TP_IDADE', 'COD_IDADE','ID_MN_RESI','CO_MUN_RES','EVOLUCAO', 'DT_EVOLUCA', 'DT_ENCERRA'], axis=1)
df2

         DT_NOTIFIC ID_MUNICIP  CO_MUN_NOT  ... EVOLUCAO  DT_EVOLUCA  DT_ENCERRA
0        07/01/2020   BRASILIA      530010  ...      1.0  08/01/2020  09/01/2020
1        27/01/2020  FORTALEZA      230440  ...      1.0         NaN  06/02/2020
2        16/01/2020    TAUBATE      355410  ...      NaN         NaN         NaN
3        13/02/2020      SALTO      354520  ...      2.0  13/02/2020  19/02/2020
4        09/03/2020   CURITIBA      410690  ...      1.0  10/03/2020  10/03/2020
...             ...        ...         ...  ...      ...         ...         ...
1174395  31/12/2020  ARACATUBA      350280  ...      1.0  06/01/2021  06/01/2021
1174396  19/01/2021    MARINGA      411520  ...      NaN         NaN         NaN
1174397  16/06/2020     ITAJAI      420820  ...      1.0         NaN  17/06/2020
1174398  12/12/2020  RIO CLARO      354390  ...      1.0  18/12/2020  30/12/2020
1174399  27/12/2020    CACADOR      420300  ...      1.0  03/01/2021  05/02/2021

[1174400 rows x 12 columns]

In [ ]:
df2.isna().sum()

DT_NOTIFIC         0
ID_MUNICIP         0
CO_MUN_NOT         0
CS_SEXO            0
NU_IDADE_N         0
TP_IDADE           0
COD_IDADE          0
ID_MN_RESI        97
CO_MUN_RES        97
EVOLUCAO      156003
DT_EVOLUCA    231811
DT_ENCERRA    157065
dtype: int64

In [ ]:
obitos = df2.query('EVOLUCAO == 2.0')
obitos

         DT_NOTIFIC      ID_MUNICIP  ...  DT_EVOLUCA  DT_ENCERRA
3        13/02/2020           SALTO  ...  13/02/2020  19/02/2020
9        20/03/2020       SAO PAULO  ...  15/04/2020  27/04/2020
13       22/03/2020       SAO PAULO  ...  06/04/2020  07/04/2020
19       25/03/2020         GOIANIA  ...  28/03/2020  28/03/2020
22       13/03/2020       GUARULHOS  ...  22/03/2020  08/04/2020
...             ...             ...  ...         ...         ...
1027478  21/04/2020         MARINGA  ...  21/04/2020  27/04/2020
1027479  20/04/2020       SAO PAULO  ...  23/04/2020  23/04/2020
1027482  28/10/2020         DIADEMA  ...  29/10/2020  04/11/2020
1027484  30/10/2020       SAO PAULO  ...  30/10/2020  04/11/2020
1027490  29/08/2020  RIO DE JANEIRO  ...  07/01/2021  26/01/2021

[253955 rows x 12 columns]

In [ ]:
obitos_leme = obitos.query("CO_MUN_RES == 352670")
obitos_leme

         DT_NOTIFIC ID_MUNICIP  CO_MUN_NOT  ... EVOLUCAO  DT_EVOLUCA  DT_ENCERRA
512      30/06/2020       LEME      352670  ...      2.0  04/07/2020  25/07/2020
19183    07/01/2021       LEME      352670  ...      2.0  13/01/2021  28/01/2021
54816    19/11/2020       LEME      352670  ...      2.0  27/11/2020  27/11/2020
62964    28/11/2020       LEME      352670  ...      2.0  08/12/2020  10/12/2020
84424    21/03/2020       LEME      352670  ...      2.0  27/03/2020  13/04/2020
...             ...        ...         ...  ...      ...         ...         ...
996915   24/06/2020     ARARAS      350330  ...      2.0  26/07/2020  04/08/2020
1004007  13/06/2020       LEME      352670  ...      2.0  01/07/2020  06/07/2020
1004945  21/09/2020       LEME      352670  ...      2.0  30/09/2020  06/10/2020
1020870  03/06/2020       LEME      352670  ...      2.0  03/06/2020  17/06/2020
1023555  16/06/2020       LEME      352670  ...      2.0  19/06/2020  08/07/2020

[101 rows x 12 columns]